:root {
  --same-padding: 5px;
}


.Header {
  width: 100vw;
  padding: 20px;
}

.Header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contaner__left-part {
  display: flex;
  flex-direction: row;
}

.contaner__right-part {
  display: flex;
  flex-direction: row;
}

.left-part__options {
  display: flex;
  flex-direction: row;

  list-style: none;
}

.right-part__options {
  display: flex;
  flex-direction: row;
}

.right-part__btn {
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  background-color: teal;
  border: none;
  padding: var(--same-padding)
}

.right-part__btn:hover {
  color: #24292f
}

.btn_otlined {
  border: 3px solid black;
  border-radius: 10px;
}

.btn_otlined:hover {
  border-color: #24292f;
}

.btn_red {
  background-color: red;
  color: black;
}

.right-part__input {
  border: none;
  outline: none;
  background-color: rgb(152, 146, 146);
  transition: all ease-in-out 0.2s;
  font-size: 1em;
  padding: var(--same-padding);
  border-radius: 20px;
  box-sizing: border-box;
}

.right-part__input:focus {
  background-color: #fff;
  border: 1px solid rgb(152, 146, 146);
}


.options__element {
  display: inline-block;
}

.options__element {
  font-size: 1em;
}


.Header__input {
}


/* Icon */

.Header__icon {

}

.Header__icon_color_teal {
  color: teal;
}

.Header__icon_size_md40 {
  font-size: 40px;
}




@media screen and (max-width: 600px) {
  .Header__container {
    flex-direction: column;
    justify-content: center;  
  }
}

/* ---- */